body {
    background-color:mistyrose;
}

h1 {
    text-align: center;
    font-size: 50px;
}

#parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

#div1 {
    
}

button {
    color: white;
    background-color: gray;
    padding: 10px;
    margin: 0px 5px;
    font-size: 30px;
    border: 3px solid black;
    border-radius: 10px;
    transition: 0.25s;
}

button:hover {
    background-color: cornflowerblue;
    transition: 0.2s;
}

button:active {
    background-color: mediumslateblue;
    transition: 0.1s;
}


#div2 {
    margin:  10px 0px;
    padding: 10px;
    /* height: auto; */
    width: 250px;
    border: 5px double black;
    border-radius: 10px;
}
