h1 {
    text-align: center;
}

#parent {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    align-items: center;
}

#div1 {
    /* display: flex;
    flex-direction: column; */
    border: 2px solid red;
}

button {
    color: blue;
    padding: 10px;
}

#div2 {
    margin:  10px 0px;
    padding: 10px;
    /* height: auto; */
    width: 140px;
    border: 2px solid black;
    border-radius: 10px;
    
    
}
